html, body {
	position: fixed;
	background-color: gray;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container {
	border-collapse: collapse;
	border: 1px solid black;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.mapLoc {
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

#mapImageContainer {
	position: relative;
	float: left;
	height: 100%;
	width: 75%;
	overflow: scroll;
}

#mapImage {
	position: absolute;
	
}

#sidebarContainer {
	position: fixed;
	float: right;
	width: 25%;
	height: 100%;
	left: 75%;	
}

#sidebar {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

#title {
	border-bottom: .25em solid black;
	height: 8%;
	width: 100%;
	font-weight: bold;	
}

#mapInfo {
	border-bottom: .15em solid black;
	height: 30%;
	width: 100%;

}

#bottomBar {
	position:absolute;
    bottom: 5%;
    right:50%;
}

#bottomBar1 {
	position:absolute;
    bottom: 5%;
    right:80%;
}

#locationButton {
	padding: 0 40px;
    padding-top: 10px;
    height: 45px;
}

